@font-face {
  font-family: 'Playpen Sans Hebrew';
  src: url("../src/assets/fonts/PlaypenSansHebrew-Regular.ttf");
}

@import "tailwindcss";

@tailwind utilities;

body {
  background-color: #242424;
  background-size: 100% 1000%;
  font-family: 'Playpen Sans Hebrew', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.clip-polygon-custom {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

